In [1]:
import pandas as pd
import numpy as np

In [2]:
match = pd.read_csv('matches.csv')
deliveries = pd.read_csv('deliveries.csv')

In [3]:
match.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [4]:
deliveries.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [5]:
match.shape

(950, 20)

In [6]:
deliveries.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [7]:
total_score_df = deliveries.groupby(['ID','innings']).sum()['total_run'].reset_index()

In [8]:
total_score_df

           ID  innings  total_run
0      335982        1        222
1      335982        2         82
2      335983        1        240
3      335983        2        207
4      335984        1        129
...       ...      ...        ...
1923  1312198        2        193
1924  1312199        1        157
1925  1312199        2        161
1926  1312200        1        130
1927  1312200        2        133

[1928 rows x 3 columns]

In [9]:
total_score_df = total_score_df[total_score_df['innings'] == 1]

In [10]:
total_score_df

           ID  innings  total_run
0      335982        1        222
2      335983        1        240
4      335984        1        129
6      335985        1        165
8      335986        1        110
...       ...      ...        ...
1918  1304116        1        157
1920  1312197        1        188
1922  1312198        1        207
1924  1312199        1        157
1926  1312200        1        130

[950 rows x 3 columns]

In [11]:
match_df = match.merge(total_score_df[['ID','total_run']], left_on='ID', right_on='ID')

In [12]:
match_df

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,total_run
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,130
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,157
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,207
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,...,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,188
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,...,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,...,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan,110
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,...,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper,165
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,...,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar,129
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,...,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri,240
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen,222

In [13]:
match_df['Team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [14]:
teams = [
'Chennai Super Kings',
'Delhi Capitals',
'Gujarat Titans',
'Kolkata Knight Riders',
'Lucknow Super Giants',
'Mumbai Indians',
'Kings XI Punjab',
'Rajasthan Royals',
'Royal Challengers Bangalore',
'Sunrisers Hyderabad'
]

In [15]:
match_df['Team1'].value_counts()

Team1
Royal Challengers Bangalore    126
Mumbai Indians                 112
Chennai Super Kings            111
Kolkata Knight Riders          105
Kings XI Punjab                 92
Rajasthan Royals                89
Delhi Daredevils                85
Sunrisers Hyderabad             69
Deccan Chargers                 39
Delhi Capitals                  29
Pune Warriors                   23
Punjab Kings                    18
Gujarat Lions                   16
Lucknow Super Giants             8
Gujarat Titans                   7
Rising Pune Supergiant           7
Rising Pune Supergiants          7
Kochi Tuskers Kerala             7
Name: count, dtype: int64

In [16]:
match_df['Team1'] = match_df['Team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['Team2'] = match_df['Team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['Team1'] = match_df['Team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['Team2'] = match_df['Team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [17]:
match_df = match_df[match_df['Team1'].isin(teams)]
match_df = match_df[match_df['Team2'].isin(teams)]

In [18]:
match_df.shape

(807, 21)

In [19]:
match_df.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,total_run
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,130
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,157
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,207
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,...,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,188
5,1304115,Mumbai,2022-05-21,2022,69,Delhi Capitals,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,...,Mumbai Indians,Wickets,5.0,NaN,JJ Bumrah,"['PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant'...","['Ishan Kishan', 'RG Sharma', 'D Brevis', 'Til...",Nitin Menon,Tapan Sharma,159

In [20]:
#deliveries_df =deliveries_df['BattingTeam'].str.replace('Delhi Daredevils','Delhi Capitals')
#deliveries_df =deliveries_df['BattingTeam'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [21]:
match_df.shape

(807, 21)

In [22]:
def bowling_team(row):
    if row['WinningTeam'] == row['Team1']:
        return row['Team2']
    else:
        return row['Team1']

In [23]:
match_df['bowling_team'] = match_df.apply(bowling_team, axis=1)

In [24]:
match_df.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,total_run,bowling_team
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,130,Rajasthan Royals
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,157,Royal Challengers Bangalore
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,207,Lucknow Super Giants
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,...,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,188,Rajasthan Royals
5,1304115,Mumbai,2022-05-21,2022,69,Delhi Capitals,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,...,Wickets,5.0,NaN,JJ Bumrah,"['PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant'...","['Ishan Kishan', 'RG Sharma', 'D Brevis', 'Til...",Nitin Menon,Tapan Sharma,159,Delhi Capitals

In [25]:
match_df = match_df[['ID','City','WinningTeam','bowling_team','total_run']]

In [26]:
match_df

,ID,City,WinningTeam,bowling_team,total_run
0,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130
1,1312199,Ahmedabad,Rajasthan Royals,Royal Challengers Bangalore,157
2,1312198,Kolkata,Royal Challengers Bangalore,Lucknow Super Giants,207
3,1312197,Kolkata,Gujarat Titans,Rajasthan Royals,188
5,1304115,Mumbai,Mumbai Indians,Delhi Capitals,159
...,...,...,...,...,...
945,335986,Kolkata,Kolkata Knight Riders,Sunrisers Hyderabad,110
946,335985,Mumbai,Royal Challengers Bangalore,Mumbai Indians,165
947,335984,Delhi,Delhi Daredevils,Delhi Capitals,129
948,335983,Chandigarh,Chennai Super Kings,Kings XI Punjab,240
949,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222

In [27]:
deliveries_df = match_df.merge(deliveries,on='ID')

In [28]:
deliveries_df

,ID,City,WinningTeam,bowling_team,total_run_x,innings,overs,ballnumber,batter,bowler,...,extra_type,batsman_run,extras_run,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,1,0,1,YBK Jaiswal,Mohammed Shami,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,1,0,2,YBK Jaiswal,Mohammed Shami,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,1,0,3,JC Buttler,Mohammed Shami,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,1,0,4,YBK Jaiswal,Mohammed Shami,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,1,0,5,YBK Jaiswal,Mohammed Shami,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192250,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,5,P Kumar,I Sharma,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
192251,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,6,SB Joshi,I Sharma,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
192252,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,7,P Kumar,I Sharma,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
192253,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,1,SB Joshi,LR Shukla,...,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
192254,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,2,SB Joshi,LR Shukla,...,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

In [29]:
deliveries_df =  deliveries_df[deliveries_df['innings'] == 2]

In [30]:
deliveries_df.shape

(92789, 21)

In [31]:
deliveries_df['current_score'] = deliveries_df.groupby('ID')['total_run_y'].cumsum()

C:\Users\shruti\AppData\Local\Temp\ipykernel_15928\2156998327.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deliveries_df['current_score'] = deliveries_df.groupby('ID')['total_run_y'].cumsum()

In [32]:
deliveries_df

,ID,City,WinningTeam,bowling_team,total_run_x,innings,overs,ballnumber,batter,bowler,...,batsman_run,extras_run,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_score
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,1,WP Saha,TA Boult,...,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,0
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,2,WP Saha,TA Boult,...,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,0
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,3,WP Saha,TA Boult,...,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans,1
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,4,Shubman Gill,TA Boult,...,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,1
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,5,Shubman Gill,TA Boult,...,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192250,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,5,P Kumar,I Sharma,...,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,80
192251,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,6,SB Joshi,I Sharma,...,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,81
192252,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,7,P Kumar,I Sharma,...,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,81
192253,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,1,SB Joshi,LR Shukla,...,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,82
192254,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,2,SB Joshi,LR Shukla,...,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,82

In [33]:
deliveries_df['runs_left'] =deliveries_df['total_run_x'] - deliveries_df['current_score']

C:\Users\shruti\AppData\Local\Temp\ipykernel_15928\2307297064.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deliveries_df['runs_left'] =deliveries_df['total_run_x'] - deliveries_df['current_score']

In [34]:
deliveries_df

,ID,City,WinningTeam,bowling_team,total_run_x,innings,overs,ballnumber,batter,bowler,...,extras_run,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_score,runs_left
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,1,WP Saha,TA Boult,...,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,0,130
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,2,WP Saha,TA Boult,...,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,0,130
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,3,WP Saha,TA Boult,...,0,1,0,0,NaN,NaN,NaN,Gujarat Titans,1,129
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,4,Shubman Gill,TA Boult,...,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,1,129
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,5,Shubman Gill,TA Boult,...,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,1,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192250,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,5,P Kumar,I Sharma,...,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,80,142
192251,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,6,SB Joshi,I Sharma,...,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,81,141
192252,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,7,P Kumar,I Sharma,...,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,81,141
192253,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,1,SB Joshi,LR Shukla,...,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,82,140
192254,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,2,SB Joshi,LR Shukla,...,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,82,140

In [35]:
deliveries_df['balls_left'] = 126 - (deliveries_df['overs']*6 + deliveries_df['ballnumber'])

C:\Users\shruti\AppData\Local\Temp\ipykernel_15928\3715014273.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deliveries_df['balls_left'] = 126 - (deliveries_df['overs']*6 + deliveries_df['ballnumber'])

In [36]:
deliveries_df

,ID,City,WinningTeam,bowling_team,total_run_x,innings,overs,ballnumber,batter,bowler,...,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_score,runs_left,balls_left
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,1,WP Saha,TA Boult,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,0,130,125
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,2,WP Saha,TA Boult,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,0,130,124
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,3,WP Saha,TA Boult,...,1,0,0,NaN,NaN,NaN,Gujarat Titans,1,129,123
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,4,Shubman Gill,TA Boult,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,1,129,122
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,5,Shubman Gill,TA Boult,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,1,129,121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192250,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,5,P Kumar,I Sharma,...,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,80,142,37
192251,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,6,SB Joshi,I Sharma,...,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,81,141,36
192252,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,7,P Kumar,I Sharma,...,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,81,141,35
192253,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,1,SB Joshi,LR Shukla,...,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,82,140,35
192254,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,2,SB Joshi,LR Shukla,...,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,82,140,34

In [37]:
deliveries_df['player_out'] = deliveries_df['player_out'].fillna("0")

C:\Users\shruti\AppData\Local\Temp\ipykernel_15928\859131393.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deliveries_df['player_out'] = deliveries_df['player_out'].fillna("0")

In [38]:
deliveries_df

,ID,City,WinningTeam,bowling_team,total_run_x,innings,overs,ballnumber,batter,bowler,...,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_score,runs_left,balls_left
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,1,WP Saha,TA Boult,...,0,0,0,0,NaN,NaN,Gujarat Titans,0,130,125
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,2,WP Saha,TA Boult,...,0,0,0,0,NaN,NaN,Gujarat Titans,0,130,124
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,3,WP Saha,TA Boult,...,1,0,0,0,NaN,NaN,Gujarat Titans,1,129,123
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,4,Shubman Gill,TA Boult,...,0,0,0,0,NaN,NaN,Gujarat Titans,1,129,122
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,5,Shubman Gill,TA Boult,...,0,0,0,0,NaN,NaN,Gujarat Titans,1,129,121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192250,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,5,P Kumar,I Sharma,...,1,0,0,0,NaN,NaN,Royal Challengers Bangalore,80,142,37
192251,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,6,SB Joshi,I Sharma,...,1,0,0,0,NaN,NaN,Royal Challengers Bangalore,81,141,36
192252,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,7,P Kumar,I Sharma,...,0,0,0,0,NaN,NaN,Royal Challengers Bangalore,81,141,35
192253,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,1,SB Joshi,LR Shukla,...,1,0,0,0,NaN,NaN,Royal Challengers Bangalore,82,140,35
192254,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,2,SB Joshi,LR Shukla,...,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,82,140,34

In [39]:
deliveries_df['player_out'] = deliveries_df['player_out'].apply(lambda x:x if x == "0" else "1")

C:\Users\shruti\AppData\Local\Temp\ipykernel_15928\244304557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deliveries_df['player_out'] = deliveries_df['player_out'].apply(lambda x:x if x == "0" else "1")

In [40]:
deliveries_df

,ID,City,WinningTeam,bowling_team,total_run_x,innings,overs,ballnumber,batter,bowler,...,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_score,runs_left,balls_left
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,1,WP Saha,TA Boult,...,0,0,0,0,NaN,NaN,Gujarat Titans,0,130,125
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,2,WP Saha,TA Boult,...,0,0,0,0,NaN,NaN,Gujarat Titans,0,130,124
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,3,WP Saha,TA Boult,...,1,0,0,0,NaN,NaN,Gujarat Titans,1,129,123
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,4,Shubman Gill,TA Boult,...,0,0,0,0,NaN,NaN,Gujarat Titans,1,129,122
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,5,Shubman Gill,TA Boult,...,0,0,0,0,NaN,NaN,Gujarat Titans,1,129,121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192250,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,5,P Kumar,I Sharma,...,1,0,0,0,NaN,NaN,Royal Challengers Bangalore,80,142,37
192251,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,6,SB Joshi,I Sharma,...,1,0,0,0,NaN,NaN,Royal Challengers Bangalore,81,141,36
192252,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,7,P Kumar,I Sharma,...,0,0,0,0,NaN,NaN,Royal Challengers Bangalore,81,141,35
192253,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,1,SB Joshi,LR Shukla,...,1,0,0,0,NaN,NaN,Royal Challengers Bangalore,82,140,35
192254,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,2,SB Joshi,LR Shukla,...,0,0,1,1,caught,BB McCullum,Royal Challengers Bangalore,82,140,34

In [41]:
deliveries_df['player_out'] = deliveries_df['player_out'].astype('int')

C:\Users\shruti\AppData\Local\Temp\ipykernel_15928\1833728982.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deliveries_df['player_out'] = deliveries_df['player_out'].astype('int')

In [42]:
deliveries_df

,ID,City,WinningTeam,bowling_team,total_run_x,innings,overs,ballnumber,batter,bowler,...,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_score,runs_left,balls_left
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,1,WP Saha,TA Boult,...,0,0,0,0,NaN,NaN,Gujarat Titans,0,130,125
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,2,WP Saha,TA Boult,...,0,0,0,0,NaN,NaN,Gujarat Titans,0,130,124
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,3,WP Saha,TA Boult,...,1,0,0,0,NaN,NaN,Gujarat Titans,1,129,123
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,4,Shubman Gill,TA Boult,...,0,0,0,0,NaN,NaN,Gujarat Titans,1,129,122
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,5,Shubman Gill,TA Boult,...,0,0,0,0,NaN,NaN,Gujarat Titans,1,129,121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192250,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,5,P Kumar,I Sharma,...,1,0,0,0,NaN,NaN,Royal Challengers Bangalore,80,142,37
192251,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,6,SB Joshi,I Sharma,...,1,0,0,0,NaN,NaN,Royal Challengers Bangalore,81,141,36
192252,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,7,P Kumar,I Sharma,...,0,0,0,0,NaN,NaN,Royal Challengers Bangalore,81,141,35
192253,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,1,SB Joshi,LR Shukla,...,1,0,0,0,NaN,NaN,Royal Challengers Bangalore,82,140,35
192254,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,2,SB Joshi,LR Shukla,...,0,0,1,1,caught,BB McCullum,Royal Challengers Bangalore,82,140,34

In [43]:
wickets = deliveries_df.groupby('ID').cumsum(numeric_only=True)['player_out'].values

In [44]:
deliveries_df['wickets'] = 10 - wickets

C:\Users\shruti\AppData\Local\Temp\ipykernel_15928\1910227666.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deliveries_df['wickets'] = 10 - wickets

In [45]:
deliveries_df

,ID,City,WinningTeam,bowling_team,total_run_x,innings,overs,ballnumber,batter,bowler,...,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_score,runs_left,balls_left,wickets
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,1,WP Saha,TA Boult,...,0,0,0,NaN,NaN,Gujarat Titans,0,130,125,10
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,2,WP Saha,TA Boult,...,0,0,0,NaN,NaN,Gujarat Titans,0,130,124,10
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,3,WP Saha,TA Boult,...,0,0,0,NaN,NaN,Gujarat Titans,1,129,123,10
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,4,Shubman Gill,TA Boult,...,0,0,0,NaN,NaN,Gujarat Titans,1,129,122,10
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,5,Shubman Gill,TA Boult,...,0,0,0,NaN,NaN,Gujarat Titans,1,129,121,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192250,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,5,P Kumar,I Sharma,...,0,0,0,NaN,NaN,Royal Challengers Bangalore,80,142,37,1
192251,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,6,SB Joshi,I Sharma,...,0,0,0,NaN,NaN,Royal Challengers Bangalore,81,141,36,1
192252,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,7,P Kumar,I Sharma,...,0,0,0,NaN,NaN,Royal Challengers Bangalore,81,141,35,1
192253,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,1,SB Joshi,LR Shukla,...,0,0,0,NaN,NaN,Royal Challengers Bangalore,82,140,35,1
192254,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,2,SB Joshi,LR Shukla,...,0,1,1,caught,BB McCullum,Royal Challengers Bangalore,82,140,34,0

In [46]:
deliveries_df.tail()

,ID,City,WinningTeam,bowling_team,total_run_x,innings,overs,ballnumber,batter,bowler,...,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_score,runs_left,balls_left,wickets
192250,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,5,P Kumar,I Sharma,...,0,0,0,NaN,NaN,Royal Challengers Bangalore,80,142,37,1
192251,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,6,SB Joshi,I Sharma,...,0,0,0,NaN,NaN,Royal Challengers Bangalore,81,141,36,1
192252,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,7,P Kumar,I Sharma,...,0,0,0,NaN,NaN,Royal Challengers Bangalore,81,141,35,1
192253,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,1,SB Joshi,LR Shukla,...,0,0,0,NaN,NaN,Royal Challengers Bangalore,82,140,35,1
192254,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,2,SB Joshi,LR Shukla,...,0,1,1,caught,BB McCullum,Royal Challengers Bangalore,82,140,34,0

In [47]:
deliveries_df['crr'] = (deliveries_df['current_score']*6)/(120 - deliveries_df['balls_left'])

C:\Users\shruti\AppData\Local\Temp\ipykernel_15928\3951035759.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deliveries_df['crr'] = (deliveries_df['current_score']*6)/(120 - deliveries_df['balls_left'])

In [48]:
deliveries_df

,ID,City,WinningTeam,bowling_team,total_run_x,innings,overs,ballnumber,batter,bowler,...,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_score,runs_left,balls_left,wickets,crr
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,1,WP Saha,TA Boult,...,0,0,NaN,NaN,Gujarat Titans,0,130,125,10,-0.000000
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,2,WP Saha,TA Boult,...,0,0,NaN,NaN,Gujarat Titans,0,130,124,10,-0.000000
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,3,WP Saha,TA Boult,...,0,0,NaN,NaN,Gujarat Titans,1,129,123,10,-2.000000
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,4,Shubman Gill,TA Boult,...,0,0,NaN,NaN,Gujarat Titans,1,129,122,10,-3.000000
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,5,Shubman Gill,TA Boult,...,0,0,NaN,NaN,Gujarat Titans,1,129,121,10,-6.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192250,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,5,P Kumar,I Sharma,...,0,0,NaN,NaN,Royal Challengers Bangalore,80,142,37,1,5.783133
192251,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,6,SB Joshi,I Sharma,...,0,0,NaN,NaN,Royal Challengers Bangalore,81,141,36,1,5.785714
192252,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,7,P Kumar,I Sharma,...,0,0,NaN,NaN,Royal Challengers Bangalore,81,141,35,1,5.717647
192253,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,1,SB Joshi,LR Shukla,...,0,0,NaN,NaN,Royal Challengers Bangalore,82,140,35,1,5.788235
192254,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,2,SB Joshi,LR Shukla,...,1,1,caught,BB McCullum,Royal Challengers Bangalore,82,140,34,0,5.720930

In [49]:
deliveries_df['rrr'] = (deliveries_df['runs_left']*6)/deliveries_df['balls_left']

C:\Users\shruti\AppData\Local\Temp\ipykernel_15928\2118516289.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deliveries_df['rrr'] = (deliveries_df['runs_left']*6)/deliveries_df['balls_left']

In [50]:
deliveries_df

,ID,City,WinningTeam,bowling_team,total_run_x,innings,overs,ballnumber,batter,bowler,...,player_out,kind,fielders_involved,BattingTeam,current_score,runs_left,balls_left,wickets,crr,rrr
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,1,WP Saha,TA Boult,...,0,NaN,NaN,Gujarat Titans,0,130,125,10,-0.000000,6.240000
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,2,WP Saha,TA Boult,...,0,NaN,NaN,Gujarat Titans,0,130,124,10,-0.000000,6.290323
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,3,WP Saha,TA Boult,...,0,NaN,NaN,Gujarat Titans,1,129,123,10,-2.000000,6.292683
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,4,Shubman Gill,TA Boult,...,0,NaN,NaN,Gujarat Titans,1,129,122,10,-3.000000,6.344262
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,5,Shubman Gill,TA Boult,...,0,NaN,NaN,Gujarat Titans,1,129,121,10,-6.000000,6.396694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192250,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,5,P Kumar,I Sharma,...,0,NaN,NaN,Royal Challengers Bangalore,80,142,37,1,5.783133,23.027027
192251,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,6,SB Joshi,I Sharma,...,0,NaN,NaN,Royal Challengers Bangalore,81,141,36,1,5.785714,23.500000
192252,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,14,7,P Kumar,I Sharma,...,0,NaN,NaN,Royal Challengers Bangalore,81,141,35,1,5.717647,24.171429
192253,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,1,SB Joshi,LR Shukla,...,0,NaN,NaN,Royal Challengers Bangalore,82,140,35,1,5.788235,24.000000
192254,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,2,15,2,SB Joshi,LR Shukla,...,1,caught,BB McCullum,Royal Challengers Bangalore,82,140,34,0,5.720930,24.705882

In [51]:
def result(row):
    return 1 if row['BattingTeam'] == row['WinningTeam'] else 0

In [52]:
deliveries_df['result'] = deliveries_df.apply(result,axis=1)

C:\Users\shruti\AppData\Local\Temp\ipykernel_15928\1522865477.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deliveries_df['result'] = deliveries_df.apply(result,axis=1)

In [53]:
deliveries_df.head()

,ID,City,WinningTeam,bowling_team,total_run_x,innings,overs,ballnumber,batter,bowler,...,kind,fielders_involved,BattingTeam,current_score,runs_left,balls_left,wickets,crr,rrr,result
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,1,WP Saha,TA Boult,...,NaN,NaN,Gujarat Titans,0,130,125,10,-0.0,6.240000,1
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,2,WP Saha,TA Boult,...,NaN,NaN,Gujarat Titans,0,130,124,10,-0.0,6.290323,1
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,3,WP Saha,TA Boult,...,NaN,NaN,Gujarat Titans,1,129,123,10,-2.0,6.292683,1
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,4,Shubman Gill,TA Boult,...,NaN,NaN,Gujarat Titans,1,129,122,10,-3.0,6.344262,1
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,2,0,5,Shubman Gill,TA Boult,...,NaN,NaN,Gujarat Titans,1,129,121,10,-6.0,6.396694,1

In [54]:
final_df = deliveries_df[['BattingTeam','bowling_team','City','runs_left','balls_left','wickets','total_run_x','crr','rrr','result']]

In [55]:
final_df

,BattingTeam,bowling_team,City,runs_left,balls_left,wickets,total_run_x,crr,rrr,result
120,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,125,10,130,-0.000000,6.240000,1
121,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,124,10,130,-0.000000,6.290323,1
122,Gujarat Titans,Rajasthan Royals,Ahmedabad,129,123,10,130,-2.000000,6.292683,1
123,Gujarat Titans,Rajasthan Royals,Ahmedabad,129,122,10,130,-3.000000,6.344262,1
124,Gujarat Titans,Rajasthan Royals,Ahmedabad,129,121,10,130,-6.000000,6.396694,1
...,...,...,...,...,...,...,...,...,...,...
192250,Royal Challengers Bangalore,Royal Challengers Bangalore,Bangalore,142,37,1,222,5.783133,23.027027,0
192251,Royal Challengers Bangalore,Royal Challengers Bangalore,Bangalore,141,36,1,222,5.785714,23.500000,0
192252,Royal Challengers Bangalore,Royal Challengers Bangalore,Bangalore,141,35,1,222,5.717647,24.171429,0
192253,Royal Challengers Bangalore,Royal Challengers Bangalore,Bangalore,140,35,1,222,5.788235,24.000000,0
192254,Royal Challengers Bangalore,Royal Challengers Bangalore,Bangalore,140,34,0,222,5.720930,24.705882,0

In [56]:
final_df = final_df.sample(final_df.shape[0])

In [57]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 92789 entries, 14715 to 135745
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   BattingTeam   92789 non-null  object
 1   bowling_team  92789 non-null  object
 2   City          86777 non-null  object
 3   runs_left     92789 non-null  int64
 4   balls_left    92789 non-null  int64
 5   wickets       92789 non-null  int32
 6   total_run_x   92789 non-null  int64
 7   crr           92767 non-null  float64
 8   rrr           92789 non-null  float64
 9   result        92789 non-null  int64
dtypes: float64(2), int32(1), int64(4), object(3)
memory usage: 7.4+ MB

In [58]:
final_df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [59]:
final_df.dropna(inplace=True)

In [60]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86022 entries, 14715 to 135745
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   BattingTeam   86022 non-null  object
 1   bowling_team  86022 non-null  object
 2   City          86022 non-null  object
 3   runs_left     86022 non-null  int64
 4   balls_left    86022 non-null  int64
 5   wickets       86022 non-null  int32
 6   total_run_x   86022 non-null  int64
 7   crr           86022 non-null  float64
 8   rrr           86022 non-null  float64
 9   result        86022 non-null  int64
dtypes: float64(2), int32(1), int64(4), object(3)
memory usage: 6.9+ MB

In [61]:
final_df.sample()

,BattingTeam,bowling_team,City,runs_left,balls_left,wickets,total_run_x,crr,rrr,result
62385,Kolkata Knight Riders,Royal Challengers Bangalore,Bengaluru,46,31,8,175,8.696629,8.903226,1

In [62]:
final_df.dropna(inplace=True)

In [63]:
final_df = final_df[final_df['balls_left'] != 0]

In [64]:
X = final_df.iloc[:,:-1]
y = final_df.iloc[:,-1]
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [65]:
X_train

,BattingTeam,bowling_team,City,runs_left,balls_left,wickets,total_run_x,crr,rrr
24134,Sunrisers Hyderabad,Sunrisers Hyderabad,Chennai,57,52,7,150,8.205882,6.576923
17397,Delhi Capitals,Mumbai Indians,Sharjah,36,45,4,129,7.440000,4.800000
37635,Delhi Capitals,Delhi Capitals,Abu Dhabi,148,105,9,162,5.600000,8.457143
125540,Mumbai Indians,Mumbai Indians,Bangalore,118,90,10,156,7.600000,7.866667
85151,Kolkata Knight Riders,Kolkata Knight Riders,Mumbai,53,33,5,199,10.068966,9.636364
...,...,...,...,...,...,...,...,...,...
15973,Sunrisers Hyderabad,Sunrisers Hyderabad,Abu Dhabi,146,80,8,235,13.350000,10.950000
101674,Kolkata Knight Riders,Sunrisers Hyderabad,Hyderabad,141,123,10,142,-2.000000,6.878049
3758,Mumbai Indians,Mumbai Indians,Navi Mumbai,138,100,9,165,8.100000,8.280000
4707,Gujarat Titans,Gujarat Titans,Mumbai,112,80,10,177,9.750000,8.400000
154647,Kings XI Punjab,Delhi Capitals,Delhi,57,70,9,111,6.480000,4.885714

In [66]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['BattingTeam','bowling_team','City'])
]
,remainder='passthrough')

In [67]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [68]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [69]:
pipe.fit(X_train,y_train)

C:\Users\shruti\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['BattingTeam',
                                                   'bowling_team', 'City'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [70]:
y_pred = pipe.predict(X_test)

In [71]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.812786980528916

In [72]:
pipe.predict_proba(X_test)[2]

array([0.46399697, 0.53600303])

In [73]:
teams

['Chennai Super Kings',
 'Delhi Capitals',
 'Gujarat Titans',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Kings XI Punjab',
 'Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad']

In [74]:
deliveries_df['City'].unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Navi Mumbai', 'Pune', 'Dubai',
       'Sharjah', 'Abu Dhabi', 'Delhi', 'Chennai', nan, 'Hyderabad',
       'Visakhapatnam', 'Chandigarh', 'Bengaluru', 'Jaipur', 'Indore',
       'Bangalore', 'Raipur', 'Ranchi', 'Cuttack', 'Dharamsala', 'Nagpur',
       'Johannesburg', 'Centurion', 'Durban', 'Bloemfontein',
       'Port Elizabeth', 'Kimberley', 'East London', 'Cape Town'],
      dtype=object)

In [76]:
import pickle
#This python file uses the following encoding: utf-8
pickle.dump(pipe,open('pipe.pkl','wb'))

In [77]:
import shutil

In [ ]:

with open('pipe.pkl', 'wb') as file:

    pickle.dump(pipe, file)



# Specify the destination directory accessible by both Jupyter and VS Code

destination_directory = 'D:\IPL Predictor'



# Copy the file to the destination directory

shutil.copy('pipe.pkl', destination_directory)